@charset "UTF-8";
.btn{
    font-size:0.8em;
}
.profile{
    width: 100%;
    height:105px;
    position: relative;
}
.profile img{
    position: absolute;
    width:15%;
    top : 45%;
    left : 3%;
}
.profile_txt{
    position: absolute;
    top: 55%;
    left: 22%;
}
.profile_btn{
    position: absolute;
    right:1%;
    top:55%;
    font-size : 100%;
}
.myInfo{
    width:100%;
    height:170px;
    position:relative;
}
.myInfo>h3{
    margin-left: 2%;
    font-size : 100%;
}
.myInfo>h4{
    margin-left:2.5%;
    color:gray;
    font-size : 100%;
}
.myInfo_btn{
    position: absolute;
    right:1%;
    bottom:0%;
}
.hr{
    color:gray;
    border: 1px;
}
.setting>h3{
    margin-left: 2%;
    font-size : 100%;
}
.setting>h4{
    margin-left:2.5%;
    color:gray;
    display:inline-block;
    width:89%;
    font-size : 100%;
}
.version>h4{
    margin-left:2.5%;
    color:gray;
    display:inline-block;
    width:68%;
    font-size : 100%;
}
.btn-link{
    font-weight: 400;
    color: #eb6762;
    border-radius: 0;
}